1-1er_Curso/LMSGI/Tema4/Tarea_LMSGI04/Entregados/zamora_amela_kevin_torneo.dtd

<!ELEMENT torneo ANY>
<!ATTLIST torneo edicion CDATA #REQUIRED>
<!ATTLIST torneo anteriorGanador CDATA #IMPLIED>

<!ELEMENT participante (nombre, edad, pais, cabezaDeSerie?)>
<!ATTLIST participante idP CDATA #REQUIRED>
<!ATTLIST participante pareja CDATA #REQUIRED>

<!ELEMENT nombre ANY>
<!ELEMENT edad ANY>
<!ELEMENT pais ANY>
<!ELEMENT cabezaDeSerie EMPTY>